{% if user %}
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href='#'>
            <i class="fas fa-th-large"></i>
            <span>Ustraa Champions League</span>
        </a>
    </li>
{% endif %}
<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="fas fa-th-large"></i>
        <span>Generate New Groups</span>
    </a>
</li>
